body{
    background: rgb(199, 218, 255);
    font: normal 1.5rem Arial;
}

header{
    color: rgb(12, 11, 11);
    text-align: center;
}

section{
    background: rgba(189, 166, 166, 0.473);
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.363);
    
}
#selecttabuada{
    background: rgb(129, 162, 175);
    color: rgb(0, 0, 0);
    font: normal 1.5rem Arial;
    
}

footer{
    color: rgb(2, 2, 2);
    text-align: center;
    font-style: italic;
}